{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Date&time range picker CSS & JS -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

		<!-- Base style -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

		<!-- Chart JS -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
		{% block header %}
	    {% endblock header %}
	</head>
	<body>
		{% block content %}
	    {% endblock content %}
	</body>
</html>
