{% extends 'base.html'%}
{% load static %}
{%block content%}
{% load crispy_forms_tags %}

<title>MyMind</title>

<!-- header -->
<h1 class="login-header"> Friend requests</h1>
<!-- header -->
<br>

<!--- friend request --->
<div class="container">
  <div class="col-lg mb-4">
          <div class="center2 card-body friend-button">
              <p>Christa Awa Kollen
              <button type="button" class="btn add btn-primary btn-lg">+</button></p>
            </div>
      </div>
</div>

{% endblock %}
