{% extends 'base.html'%}
{% load static %}
{%block content%}
{% load crispy_forms_tags %}

<title>MyMind</title>

<!-- header -->
<h1 class="login-header"> Friends </h1>
<!-- header -->
<br>

<!--- Search --->
<form action="{% url 'search_results' user.username %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<!--- Search --->

<!--- friends names --->
{% if friends %}
  {% for friend in friends %}
    <div class="col-lg mb-4">
        <div class="card2">
            <div class="card-body friend-button">
                <p>{{ friend.user }}</p>
            </div>
        </div>
    </div>
  {% endfor %}
{% endif %}
<div class="col-lg mb-4">
    <div class="card">
        <div class="card-body fr-button">
            <p><a href= "{% url 'friendrequests' user.username %}">Friend Request</a></p>
        </div>
    </div>
</div>
{% if results %}
  {% for result in results %}
    <div class="col-lg mb-4">
        <div class="card2">
            <div class="card-body friend-button">
              {% if result.user.username in sent_requests or result.user.username in friends %}
                <p>{{ result.user }}</p>
              {% else %}
                <form action="{% url 'add_friend' user.username result.user %}" method="get">
                  <button type="submit" class="btn add btn-primary btn-lg" >+</button><p>{{ result.user }}</p>
                </form>
              {% endif %}
            </div>
        </div>
    </div>
  {% endfor %}

{% else %}
<p>Your search has yielded no results unfortunately :(. Search again?</p>
{% endif %}



<!--- friends names --->



{% endblock %}
