{% extends 'base.html'%}
{% load static %}
{%block content%}
{% load crispy_forms_tags %}

<title>MyMind</title>

<!-- header -->
<h1 class="login-header"> Friend requests</h1>
<!-- header -->
<br>

<!--- friend request --->
{% if friend_requests %}
  {% for f_request in friend_requests %}
    <div class="col-lg mb-4">
        <div class="card2">
            <div class="card-body friend-button">
                <form action="{% url 'confirm_request' user.username f_request %}" method="get">
                  <button type="submit" class="btn add btn-primary btn-lg" >+</button><p>{{ f_request }}</p>
                </form>
            </div>
        </div>
    </div>
  {% endfor %}

{% else %}
<p>No more pending requests!</p>
{% endif %}
{% endblock %}
