{% extends 'base.html'%}
{% load static %}
{%block content%}
{% load crispy_forms_tags %}

<title>MyMind</title>

<!-- Jumbotron -->
<div class="p-5 text-center banner-bg" style="margin-top: 58px;">
  <h1 class="mb-3">Friends</h1>
</div>
<!-- Jumbotron -->
<br>

<!--- Search --->
<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
<!--- Search --->

<!--- friends names --->
<div class="col-lg mb-4">
    <div class="card">
      <a href= "{% url 'friendrequests' %}"/>
        <div class="card-body fr-button">
            <p>Friend Request</p>
        </div>
    </div>
</div>

<div class="col-lg mb-4">
    <div class="card">
        <div class="card-body friend-button">
            <p>Emily Sande</p>
        </div>
    </div>
</div>

<div class="col-lg mb-4">
    <div class="card">
        <div class="card-body friend-button">
            <p>Elif Shafak</p>
        </div>
    </div>
</div>

<div class="col-lg mb-4">
    <div class="card">
        <div class="card-body friend-button">
            <p>Karlo Olalla</p>
        </div>
    </div>
</div>

<div class="col-lg mb-4">
    <div class="card">
        <div class="card-body friend-button">
            <p>Khiera Odle</p>
        </div>
    </div>
</div>

<!--- friends names --->



{% endblock %}
