{% extends 'base.html'%}
{% load static %}
{%block content%}
{% load crispy_forms_tags %}
<title>MyMind</title>
<!-- header -->
<h1 class="login-header"> Login page </h1>
<!-- header -->

<!-- login forms -->
<form id="login_form" method="post" action="/login/">
{% csrf_token %}
  <div class="form-outline mb-4">
    <input type="email" id="form2Example11" class="form-control"
      placeholder="Email address" />
  </div>

  <br>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example22" class="form-control" placeholder="Password"/>
  </div>

  <br>

  <div class="sign-up-button">
    <button type="button" class="btn login-button btn-secondary" href="{% url 'today' %}">Login</button>
  </div>

<!-- login forms -->
</form>

</div>





{% endblock %}
