{% extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}
{% load static %}

 <title>Register</title>
 <!-- header -->
 <h1 class="login-header"> Sign up </h1>
 <!-- header -->
      <form method="post" action="{% url 'today' %}"
              enctype="multipart/form-data">

          {% csrf_token %}

          <!-- Display each form. The as_p method wraps each element in a paragraph
               (<p>) element. This ensures each element appears on a new line,
               making everything look neater. -->
          {{ user_form|crispy }}
          {{ profile_form|crispy }}

          <!-- Provide a button to click to submit the form. -->
          <div class="sign-up-button">
            <button type="button" class="btn login-button btn-secondary"><a href="{% url 'login' %}">Sign up</button>
          </div>
      </form>
    </div>
{% endblock %}
